# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [26]:
weather_df = pd.read_csv("../output_files/cities.csv")
weather_df

,Unnamed: 0,Country,City,Date,Max Temp,Cloudiness,Humidity,Lat,Lng,Wind Speed
0,0,ZA,Port Elizabeth,1651623820,65.32,0,93,-33.9180,25.5701,10.36
1,1,UZ,Yangi Marg`ilon,1651623847,68.72,100,60,40.4272,71.7189,4.61
2,2,RU,Tiksi,1651623790,15.66,52,87,71.6872,128.8694,3.74
3,3,AO,Cabinda,1651623847,78.19,84,91,-5.5500,12.2000,5.35
4,4,MU,Quatre Cocos,1651623848,75.31,39,81,-20.2078,57.7625,10.29
...,...,...,...,...,...,...,...,...,...,...
595,595,SO,Hobyo,1651624160,81.37,82,68,5.3505,48.5268,10.76
596,596,TJ,Obigarm,1651624161,56.03,100,91,38.7173,69.7088,6.20
597,597,CN,Baoning,1651624161,60.66,0,88,25.3378,110.0260,0.00
598,598,VN,Tam Ky,1651624162,71.98,100,85,15.5667,108.4833,5.95
599,599,PT,Camacha,1651624163,58.42,75,77,33.0833,-16.3333,11.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:
# Configure gmaps
gmaps.configure(g_key)

In [28]:
# Store the latitude and longitude locations
locations = weather_df[["Lat", "Lng"]]

# Store Humidity as the weight
humidity = weather_df["Humidity"]

In [29]:
# Plot the heatmap
heat_map = gmaps.figure(center = [0.0, -0.0], zoom_level = 2)

# Add a heat layer to the heatmap
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Now add that layer
heat_map.add_layer(heat_layer)

heat_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
# Narrow down the cities to fit weather conditions
max_temp = weather_df.loc[(weather_df['Max Temp']>=70) & (weather_df['Max Temp']<=80)]

wind_speed = max_temp.loc[(weather_df['Wind Speed']<=10)]

true_weather = wind_speed.loc[(wind_speed['Cloudiness']==0)]

true_weather.head()

,Unnamed: 0,Country,City,Date,Max Temp,Cloudiness,Humidity,Lat,Lng,Wind Speed
83,83,PK,Khuzdar,1651623888,70.61,0,42,27.7384,66.6434,4.43
301,301,BR,Caravelas,1651624002,73.63,0,82,-17.7125,-39.2481,6.78
315,315,RE,Saint-Pierre,1651624010,72.91,0,64,-21.3393,55.4781,6.91
337,337,BR,Manaus,1651623877,79.29,0,89,-3.1019,-60.0250,2.30
445,445,US,Milledgeville,1651624076,79.99,0,66,33.0801,-83.2321,0.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [31]:
# Store a variable called hotel_df
hotel_df = true_weather.loc[:,["City", "Country", "Lat", "Lng"]]

# Add a "Hotel Name" column
hotel_df["Hotel Name"] = ""

hotel_df

              City Country      Lat      Lng Hotel Name
83         Khuzdar      PK  27.7384  66.6434
301      Caravelas      BR -17.7125 -39.2481
315   Saint-Pierre      RE -21.3393  55.4781
337         Manaus      BR  -3.1019 -60.0250
445  Milledgeville      US  33.0801 -83.2321
494         Riyadh      SA  24.6877  46.7219
498        Florida      US  28.7505 -82.5001
502      Morondava      MG -20.2833  44.2833
509    Rocky Mount      US  35.9382 -77.7905
540          Ibrā’      OM  22.6906  58.5334
557     Vila Velha      BR -20.3297 -40.2925

In [40]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

print("-------Begin Search-------")

for index, row in hotel_df.iterrows():
        
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest hotel for {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # Show if there is no hotel close by
    except (KeyError, IndexError):
        print("Oops, try again")
    
print("-------End of Search-------")

-------Begin Search-------
Oops, try again
Closest hotel for Caravelas is Pousada dos Navegantes.
Closest hotel for Saint-Pierre is Hôtel Le Saint-Pierre.
Closest hotel for Manaus is Taj Mahal Continental Hotel.
Closest hotel for Milledgeville is Holiday Inn Express & Suites Milledgeville, an IHG Hotel.
Closest hotel for Riyadh is Radisson Blu Hotel, Riyadh.
Oops, try again
Closest hotel for Morondava is Palissandre Cote Ouest resort & SPA.
Closest hotel for Rocky Mount is DoubleTree by Hilton Hotel Rocky Mount.
Closest hotel for Ibrā’ is المستقبل للشقق الفندقية.
Closest hotel for Vila Velha is Hotel Santorini.
-------End of Search-------

In [45]:
# Show the results
hotel_df

,City,Country,Lat,Lng,Hotel Name
83,Khuzdar,PK,27.7384,66.6434,
301,Caravelas,BR,-17.7125,-39.2481,Pousada dos Navegantes
315,Saint-Pierre,RE,-21.3393,55.4781,Hôtel Le Saint-Pierre
337,Manaus,BR,-3.1019,-60.0250,Taj Mahal Continental Hotel
445,Milledgeville,US,33.0801,-83.2321,"Holiday Inn Express & Suites Milledgeville, an..."
494,Riyadh,SA,24.6877,46.7219,"Radisson Blu Hotel, Riyadh"
498,Florida,US,28.7505,-82.5001,
502,Morondava,MG,-20.2833,44.2833,Palissandre Cote Ouest resort & SPA
509,Rocky Mount,US,35.9382,-77.7905,DoubleTree by Hilton Hotel Rocky Mount
540,Ibrā’,OM,22.6906,58.5334,المستقبل للشقق الفندقية
557,Vila Velha,BR,-20.3297,-40.2925,Hotel Santorini

In [41]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [44]:
# Add marker layer ontop of heat map
new_marker = gmaps.marker_layer(locations, info_box_content=[f"Hotel location: {rate}" for rate in hotel_info])

heat_map.add_layer(new_marker)

# Display figure
heat_map

Figure(layout=FigureLayout(height='420px'))